.call-to-action {
	padding: 100px 0px;
	text-align: center;

	h2 {
		font-weight: bold;
		line-height: 45px;
		// font-size: 4.1em;
		color: $light;
	}

	p {
		color: $light;
	}

	.btn-main {
		padding: 15px 35px;
		// font-size: 16px;
		margin-top: 10px;
	}
}