.footer {
  background: $light;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 35px;

  p {
    font-size: 13px;
    line-height: 25px;
    color: #5C5C5C;
  }

  a {
    color: $primary-color;

    &:hover {
      color: $alert;
    }
  }

  .footer-menu {
    padding-bottom: 25px;

    ul {
      margin: 0px;
      padding: 0px;

      li {
        display: inline-block;
        padding: 0px 20px;

        a {
          display: inline-block;
          color: #5C5C5C;

          &:hover {
            color: #ccc;
          }
        }
      }
    }
  }

  .copyright {
    a {
      font-weight: 600;
    }
  }
}